* {
  font-family: f;
}

.navbar {
    overflow: hidden;
    padding-top: 10px;
    top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    background-color: white;
  }
 
  .navbar a {
    float: right;
    color: gray;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 1%;
  }
 
  
  .navbar a:hover {
    border-top: 3px solid rgb(167, 218, 238);
    color: black;
  }

  .navbar .margini a {
    float: left;
  }

  #myLinks {
    display: none;
  }

  .navbar .margini2 a {
    padding-top: 2%;
  }

  .centro {
    background-color: rgb(167, 218, 238);
    height:  500px;
    position: relative;
    z-index:-1;
    text-align: center;
  }


.titolone {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: xx-large;
}

.navbar a#icon {
  font-size:35px
}


.progetti {
  background-color: rgb(167, 218, 238);
  text-align: center;
  font-size: x-large;
}

.progettino {
  background-color: #d9e0e0	;
  width: 43%;
display: inline-block;
margin: 1%;
font-size: 17px;
}

button {
  color: #F0FFFF;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  float: left;
}

.paragrafo {
  display: inline;
}

.footer {
  width: 100%;
  background-color: #3d98e3;
}
.footer2 {
  display: block; 
margin-left: auto;
margin-right: auto;
width: fit-content;
padding: 1%;
text-decoration: none;
}

.logo_linkedin {
  width:20;
  height:20;
}

.logo_sito {
  width:70;
  height:70;
}


/*-------------------------*/

.centro_contatti {
  max-height: 70%;
  width: 100%;
  display: flex;
}

.touch {
  width: 30%;
  max-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(167, 218, 238);
}


.formato {
  width: 67%;
  max-height: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

input {
  width: 100%;
}

---------------------------------


.container {
  height: 100%;
  display: flex;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 60%;
  text-align: center;
  line-height: 4vh;
  font-size: 20px;
}

/*---------------------*/

.centro2_bio {
  display: flex;
  border: 1px solid black;
}


.something {
  width: 50%;
  float: right;
  background-color: black;
  color: white;
  line-height: normal;
  font-size: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: fit-content;
}

.something div {
  width: 40%;
}

.hobbies {
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
  max-height: fit-content;
}

.hobbies div{
  text-align: center;
  width: 50%;
  font-size: 20px;
  line-height: 4vh;
}

.cv {
  width: 50%;
  max-height: fit-content;
  float: right;
  display: flex;
  justify-content: center;
}

.cv div{
  text-align: center;
  width: 50%;
  font-size: 20px;
  line-height: 4vh;
}